*{
    font-family: Verdana,Tahoma, sans-serif;
}

header{
    text-align: center;
    
}


.topnav{
    overflow: hidden;
    background-color: rgb(209, 21, 209);
    
}

.topnav a{
    float: left;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;

}

.topnav a:hover{
   background-color: black;
    cursor: pointer;
    
}
img{
    object-fit: cover;
    
}

.about{
    text-align: center;
    
}

.about h1{
    font-size: 50px;
    text-decoration: underline solid rgb(209, 21, 209);
}

button{
    border-radius: 10%;
    border: none;
    background-color: rgb(209, 21, 209);
    color: black;
    margin-bottom: 40px;
}

button:hover{
    color: azure;
}
