*{
    font-family: Verdana,Tahoma, sans-serif;
}

header{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: black;
    border-bottom:2px solid rgb(209, 21, 209);
    padding-bottom: 5px;
}
a:hover{
   
    cursor: pointer;
    
}
img{
    justify-content: left;
}

.about{
    text-align: center;
    
}

.about h1{
    font-size: 50px;
    text-decoration: underline solid rgb(209, 21, 209);
}

footer{
    padding-bottom: 200px;
}